.center-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFF;
  }

  .form {
    margin-top: 10px;
  }
}

.sign-up {
  width: 100%;
  height: 524px;
  background-image: url(../../assets/images/bg-image-sing-up.png);
}

.download {
  width: 100%;
  height: 464px;
  background-color: $color-background;

  &__content {
    align-items: center;
    width: 480px;
    text-align: center;

    h2 {
      color: $color-titles;
    }

    button {
      margin-top: 20px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

