.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 180px 80px 80px;
  height: 185px;
  background-color: black;

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: $color-text;
  }
}