.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 583px;
  height: 100%;

  a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 140%;
  }
}

.active::after {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #FFFF;
  transition: width .3s ease-in-out;
}