.button-main {
  width: 184px;
  height: 46px;
  background-color: $color-button;
  border: none;
  transition: .3s;
  cursor: pointer;
  
  a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  }

  &:hover {
    background-color: $color-hover;
  }
}